<div class="container-fluid">
  <h2>Encounter Generator</h2>



  <div class="row">
    <div class="col-sm-4 col-lg-2">
      Average Level:
      <br>
      <select onchange={{action (mut level) value="target.value"}}>
        {{#each levels as |levelChoice|}}
          <option value={{levelChoice}} selected={{eq level levelChoice}}>{{levelChoice}}</option>
        {{/each}}
      </select>
      <br>

      Number of Players:
      <br>
      <select onchange={{action (mut playerCount) value="target.value"}}>
        {{#each playerCounts as |playerCountChoice|}}
          <option value={{playerCountChoice}} selected={{eq playerCount playerCountChoice}}>{{playerCountChoice}}</option>
        {{/each}}
      </select>
      <br>

      Environment:
      <br>
      <select onchange={{action (mut environment) value="target.value"}}>
        {{#each environments as |environmentChoice|}}
          <option value={{environmentChoice}} selected={{eq environment environmentChoice}}>{{environmentChoice}}</option>
        {{/each}}
      </select>
      <br>

      <button class="btn btn-primary" {{action 'generate'}}>Generate</button>
      <hr>

      <div class="encounter-table">
        {{#each levelTable as |encounter|}}
          <a {{action 'selectEncounter' encounter.data}}>
            {{encounter.d20}}:
            {{encounter.summary}}
          </a>
          <br>
        {{/each}}
      </div>
    </div>

    <div class="col-sm-8 col-lg-10">
      {{encounter-info encounterData=activeEncounter}}
    </div>
  </div>
</div>
